body{
	background-color: #d2d7d3;
}
div.bg{
	background-image : url(background.jpg);
	background-repeat : no-repeat;
	background-position: center;
	background-size: cover;
	width: 700px;
	height: 685px;
	margin: 0 auto;
}
table.answerSheet{
	float: left;
	margin: 70px 32px 0 32px;
}
td.bigBlock{
	border: black inset;
	padding-left: 4px;
}
input.block{
	width: 40px;
	height: 40px;
	font-size: 25px;
	background: white;
	border: solid black;
    border-width: 0.1px;
	margin-left: -4px;
    cursor: pointer;	
}
div.keyBoard{
	padding: 17px 0 0 460px;
}
input.keyBoard{
	width: 65px;
	height: 65px;
	font-size: 30px;
	background: white;
	border: solid black;
    border-width: 1px;
	margin-left: -4px;
    cursor: pointer;	
}
div.extraFun{
	background: white;
    height: 63px;
    width: 63px;
    float: left;
    border: 1px solid black;
	font-size: 24px;
	line-height: 63px;
    text-align: center;
	cursor: pointer;
}
input.start{
    margin: 5px 0 0 33px;
    height: 60px;
    width: 160px;
    font-size: 27px;
    background: #003286;
    color: white;
    font-weight: bold;
    border-radius: 10px;
	cursor: pointer;
}
input:hover.start{
	background: #0050DB;
}
select.quizSheet{
	margin: 30px 0 0 73px;
    height: 30px;
    width: 80px;
}	
div.hint{
	padding: 20px 0 0 458px;
}
input.hint{
    height: 55px;
    margin-top: 10px;
    border-radius: 30px;
    background: #f4ef8e;
	font-weight: bold;
}
div.gameOver{
    width: 440px;
	height: 453px;
	float: left;
    text-align: center;
    display: none;
}
img.gameOver{
    width: 400px;
    margin: 85px 0 0 5px;
}
img.btm{
	width: 700px;
    height: 105px;
    margin-top: 62px;
}

div.hintQuiz{
	width: 600px;
    height: 170px;
    background: #4F4F4F;
    margin: 15px 0 0 45px;
    border-radius: 30px;
    border: #272727 outset 5px;
    text-align: center;
	display: none;
}
div.hintQue{
	height: 30px;
	color: white;
    font-weight: bold;
	font-size: 20px;
    margin: 8px;
}
input.hintAns{
	width: 280px;
    height: 50px;
    margin: 5px;
	background: #005AB5;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10px;
}