body{
	background-color: #d2d7d3;
}
div.bg{
	background: #fde3a7;
	width: 700px;
	height: 600px;
	margin: 0 auto;
}
table.answerSheet{
	float: left;
	margin: 32px 32px 0 32px;
}
td.bigBlock{
	border: black inset;
	padding-left: 4px;
}
input.block{
	width: 40px;
	height: 40px;
	font-size: 25px;
	background: white;
	border: solid black;
    border-width: 0.1px;
	margin-left: -4px;
    cursor: pointer;	
}
div.keyBoard{
	padding: 17px 0 0 460px;
}
input.keyBoard{
	width: 65px;
	height: 65px;
	font-size: 30px;
	background: white;
	border: solid black;
    border-width: 1px;
	margin-left: -4px;
    cursor: pointer;	
}
div.extraFun{
	background: white;
    height: 63px;
    width: 63px;
    float: left;
    border: 1px solid black;
	font-size: 24px;
	line-height: 63px;
    text-align: center;
	cursor: pointer;
}
input.start{
    margin: 5px 0 0 33px;
    height: 60px;
    width: 160px;
    font-size: 27px;
    background: #4a90e2;
    font-weight: bold;
    border-radius: 10px;
	cursor: pointer;
}
input:hover.start{
	background: #ACD6FF;
}
select.quizSheet{
	margin: 30px 0 0 73px;
    height: 30px;
    width: 80px;
}	
div.hint{
	padding: 20px 0 0 469px;
}
input.hint{
	height: 30px;
	margin-top: 10px;
}
div.gameOver{
    width: 440px;
	height: 453px;
	float: left;
    text-align: center;
    display: none;
}
img.gameOver{
    width: 400px;
    margin: 85px 0 0 5px;
}